.container{
  max-width: 720px;
  margin: 4rem auto;
  padding: 0 2rem;

  display: flex;
  flex-direction: column;

  h1{
      color: var(--white);
      font-size: 2rem;        
  }
}
.containerHeader{
  display: flex;
  flex-direction: row;

  button{
      background: transparent;
      border: 0;
      margin-left: 1rem;
      font-size: 1.4rem;
  }
}

.ListOrder{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
.orderItem{
  display: flex;
  flex-direction: row;
  background-color: var(--dark-900);
  margin-bottom: 1rem;
  align-items: center;
  border-radius: 0.3rem;

  button{
      border: 0;
      background: transparent;
      font-size: 1.2rem;
      color: var(--white);
      height: 60px;
      align-items: center;
      display: flex;
  }
}

.tag{
  width: 9px;
  background-color: var(--green-900);
  height: 60px;
  border-radius: 0.3rem 0 0 0.3rem;
  margin-right: 1rem;
}

.emptyList{
  color: var(--gray-100);
  font-size: 1.2rem;
}

.Container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 720px;
}

.productCard{

  display: flex;
  flex-direction: column;
  border: 1px solid var(--red-900);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  width: 100%;
  height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.productCard:hover {
  transform: scale(1.05);
}

.productTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #ffffff;
}

.productDescription {
  margin-bottom: 8px;
  color: #ffffff;
}

.productPrice {
  font-size: 16px;
  color: #ffffff;
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: red;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 15px;
}

.ButtonTitle{
  display: flex;
  justify-content: space-between;
}